<?xml version="1.0" encoding="utf-8" ?>
<Configuration status="ERROR">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <RollingFile name="ErrorLog" fileName="logs/error.log" filePattern="logs/error_%d{yyyy-MM-dd}_%i.log">
            <PatternLayout pattern="%d %p %c %L %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="24" />
            </Policies>
            <DefaultRolloverStrategy max="15" />
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="ERROR">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="com.bieyet" level="DEBUG">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="com.bityet.service" level="ERROR">
            <AppenderRef ref="ErrorLog"/>
        </Logger>
    </Loggers>
</Configuration>